.movie_list  {
    display: inline-block;
    margin: 0 150px 0 50px;
}

.main_title {
    text-align: center;
    margin: 50px 0 150px 0;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.search_div {
    width: 50%;
}

.right_side {
    text-align: center;
}

.form_div {
    margin-bottom: 50px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
}

.form_h2 {
    margin-bottom: 50px;
}

.form {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.form_inputs {
    padding : 5px 10px;
    border: none;
    border-bottom: 2px solid #e7e6e1;
    border-radius: 4px;
    background-color: #f4f9f9;
}

.list {
    margin: 50px 0 0 0;
}

.card-body {
    text-align: center;
    display: inline;
    position: relative;
    top: 25px;
}

.list_item {
    display: inline;
    float: left;
    margin: 15px;
}

.select {
    position: relative;
    padding: 2px;
    bottom: 5px;
}

.search {
    padding: 3px 3px 3px 10px;
    border: solid;
    border-radius: 8px;
}

.card-title {
    margin: 0 auto 20px auto;
}

span {
    color: red;
}

.card-img{
    height: 160px;
    width: 160px;
    position: relative;
    right: 20px;
    top: 15px;
}
.removeBtn {
    position: relative;
    left: 237px;
    border-radius: 4px;
    border: solid;
    background-color: transparent;
}

.card {
    border-radius: 8px;
    border: solid rgb(43, 26, 6);
}

.movie_stats {
    border: solid;
    border-radius: 8px;
}

.stats_heading {
    margin-bottom: 50px;
}

.add_btn {
    border: solid;
    border-radius: 4px;
    background-color: transparent;
}



